.MuiInputBase-input {
  background: #fff;
}

.MuiTextField-root {
  background: #fff;

  border-radius: 6px;
}

.text-box, .chat-list {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 127px);
}
